html,body{
	margin: 0;
	padding: 0;
}
#CF{
	text-align: center;
	width: 960px;
	height: 460px;
	/*border: 1px solid red;*/
}
#img01{
	position: absolute;
	z-index: 100;
	
}
#img02{
	position: absolute;
	z-index: 80;
}
#img03{
	position: absolute;
	z-index: 50;
}
#img04{
	position: absolute;
	z-index: 30;
}
#img05{
	position: absolute;
	z-index: 10;
}
#gt{
	position: absolute;
	transform: scale(3,3);
	margin-top: 200px;
	margin-left: 1670px;
	z-index: 101;
	color: #ccc;
}
#lt{
	position: absolute;
	transform: scale(3,3);
	margin-top: 200px;
	margin-left: 500px;
	z-index: 101;
	color: #ccc;
}
